<section>
    <header>
        <div *ngIf="profileImage">
            <img [src]="profileImage" alt="Profile Image" />
        </div>
    </header>
    <main>
        <div *ngIf="usuario">
            <h3>{{ usuario.nome }}</h3>
            <p><strong>Código:</strong> {{ usuario.id }}</p>
            <p><strong>Email:</strong> {{ usuario.email }}</p>
        </div>
        <div>
            <input type="file" (change)="onFileSelected($event)" />
            <div class="btn">
                <button (click)="uploadImage()">Upload Image</button>
                <button (click)="sair()" class="btn-sair">Sair</button>
            </div>
        </div>
    </main>
</section>
